{% assign item=include.event %}
{% if item.eventstart %}{% else %}
  {% for i in site.events %}
    {% assign url = i.path | split: "/" | last | split: "." | first %}
    {% if include.event == url %}
      {% assign item=i %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if item %}
  <div class="event__item" data-date="{{ item.eventstart | date_to_xmlschema }}" data-type="event" data-url="{{ item.url }}" itemscope itemtype="https://schema.org/Event">
    {% include date-icon.html date=item.eventstart %}
    <a class="event__name" href="{{ item.url }}" itemprop="name">{{ item.title }}</a>
    {% if item.excerpt and item.excerpt %}<div class="event__excerpt" itemprop="description">{{ item.excerpt }}</div>{% endif %}
  </div>
  <script type="text/javascript">
    if( !document.Calendar ) {
      // one-time initialization
      document.Calendar = {
        today: new Date().toLocaleDateString('sv-SE'),
        compareToToday: function(date) {
          if( date.toLocaleDateString('sv-SE') < document.Calendar.today ) {
            return 'past';
          }
          if( date.toLocaleDateString('sv-SE') > document.Calendar.today ) {
            return 'future';
          }
          return 'today';
        },
        markUpAllEvents: function() {
          var index = 0;
          var items = document.querySelectorAll('*[data-date]');
          for(var i = 0; i<items.length; i++) {
            var item = items[i];
            var date = new Date(item.getAttribute('data-date'));
            var period = document.Calendar.compareToToday(date);
            item.classList.add('event-period-'+period)
            if( period == 'future' || period == 'today' ) {
              index++;
              item.classList.add('event-period-index-'+index)
            }
          }
        }
      };
      window.addEventListener('load', document.Calendar.markUpAllEvents);
    }
  </script>
{% else %}
  <!-- event '{{ include.event }}'' not found -->
{% endif %}
