* **Huvuddomare:** Magnus Wallenborg
* **Bandomare:** Malte Lennerstedt (Axis Communications), Pelle Andersson (Eksar), Anders Ericsson (Ericsson), Henrik Svensson (Volvo Cars)
* **Projektjury 1:** Åsa Melvanius (HiQ), Annika Svensson Dalgren (Positor), Mi Åberg (Tetra Pak)
* **Projektjury 2:** Leonard Wolcker (Plug and Trade), Viveca Selander (Schneider Electric), Andrea Onnerfors (ustwo)
* **Teknikjury 1:** Johan Larsson (Axis Communications), Rodin Seto (IT-technician), Henning Pettersson (Malmö stad)
* **Teknikjury 2:** Alexandre Martins (Additude), Patrick Forsyth (arm), Markus Wejrot (u-blox)
* **Kärnvärdesjury 1:** Daniél Tejera (Kristianstads kommun), Nathalie Reinholds (Rotary), Marie Nilsson (Utvecklingsbyrån/Rotary)
* **Kärnvärdesjury 2:** Staffan Hessel (Malmö stad), Zeynep Erdal (Malmö universitet), Zeb Allansson (Whizcut)
* **Explorejury 1:** Jenny Nyberg (Malmö stad), Magnus Anderson (Sjökapten/Rotary), Agneta Berliner (Varumärkesstrateg)
* **Explorejury 2:** Lisa Flinth (Landskrona stad), Tanja Gorgi (Malmö stad), Birgitta Hammar (Presense)
