**Challenge**

<table class="waffle team-challenge" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td class="s0" dir="ltr">#</td>
      <td class="s0" dir="ltr">Lagnamn</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">1</td>
      <td class="s0" dir="ltr">Future Engineers (Lund)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">2</td>
      <td class="s0" dir="ltr">Rörsjöskolan 2.0 (Rörsjöskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">3</td>
      <td class="s0" dir="ltr">HDGR1 (Hermodsdalsskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">4</td>
      <td class="s0" dir="ltr">Nydala Mellan (Nydalaskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">5</td>
      <td class="s0" dir="ltr">Fusion Fuels (Oxievångsskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">6</td>
      <td class="s0" dir="ltr">NoTcrackers (Hagavikskolan, Växjö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">7</td>
      <td class="s0" dir="ltr">Sundsbroskolan - Lernacken (Sundsbroskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">8</td>
      <td class="s0" dir="ltr">Glumslöv (Glumslövs skola, Landskrona)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">9</td>
      <td class="s0" dir="ltr">MISChallenge (Malmö International School, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">10</td>
      <td class="s0" dir="ltr">MAF Robotics (Malmös Akademiska Förening, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">11</td>
      <td class="s0" dir="ltr">Amaryllis (Malmös Akademiska Förening, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">12</td>
      <td class="s0" dir="ltr">Rönnenskolan (Rönnenskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">13</td>
      <td class="s0" dir="ltr">IES Landskrona IES Landskrona, Landskrona)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">14</td>
      <td class="s0" dir="ltr">Electrobuilders (Husieskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">15</td>
      <td class="s0" dir="ltr">Flaming flowers (Husieskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">16</td>
      <td class="s0" dir="ltr">Sunpowers (Husieskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">17</td>
      <td class="s0" dir="ltr">Rice of Robotics (CoderDojo, Helsingborg)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">18</td>
      <td class="s0" dir="ltr">Dammfri (Dammfriskolan, Malmö)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">19</td>
      <td class="s0" dir="ltr">Helsingborg (Coder Dojo, Helsingborg)</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">20</td>
      <td class="s0" dir="ltr">Västra Hamnen (Malmö)</td>
    </tr>
  </tbody>
</table>
