**Explore**

<table class="waffle team-explore" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td class="s0" dir="ltr">Tid</td>
      <td class="s0" dir="ltr">Jury 1</td>
      <td class="s0" dir="ltr">Jury 2</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">10:00</td>
      <td class="s0" dir="ltr">HD Blå</td>
      <td class="s0" dir="ltr">Helsingborgs Juniors</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">10:15</td>
      <td class="s0" dir="ltr">HD Röd</td>
      <td class="s0" dir="ltr">Legobyggarna</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">10:30</td>
      <td class="s0" dir="ltr">HD Grå</td>
      <td class="s0" dir="ltr">Energiskaparna</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">10:45</td>
      <td class="s0" dir="ltr">Hackebacken</td>
      <td class="s0" dir="ltr">Pilängskolan</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">11:00</td>
      <td class="s0" dir="ltr">Sundsbroskolan - Brygga</td>
      <td class="s0" dir="ltr">Nydala Ettor</td>
    </tr>
    <tr>
      <td class="s1" dir="ltr">11:15</td>
      <td class="s0" dir="ltr">OVLegomaster</td>
      <td class="s0" dir="ltr">Pilängsgårdens förskola</td>
    </tr>
  </tbody>
</table>
